<!DOCTYPE html>
<html>

<head>
    <title>GridFox</title>

    <style>
        body {
            background-color: ivory;
        }
        canvas {
            border: 3px solid gray;
            cursor: all-scroll;
        }
        button:focus {
            outline: 0 !important;
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body ng-app="gridFox">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.0.0/caman.full.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="agCanvas.js"></script>
    <script src="app.js"></script>

    <div class="container" ng-controller="mainController as mainCtrl">
        <nav class="navbar navbar-default">
            Grids: 
            <button class="btn btn-default" ng-click="mainCtrl.setGridMode('')">None</button>
            <button class="btn btn-default" ng-click="mainCtrl.setGridMode('thirds')">
                Thirds
            </button>
            <button class="btn btn-default" ng-click="mainCtrl.setGridMode('phi')">
                Phi
            </button>
            <button class="btn btn-default" ng-click="mainCtrl.setGridMode('custom')">
                Other:
            </button>
            X: {{mainCtrl.gridLinesX}}
            <button class="btn btn-default" ng-click="mainCtrl.decGridX()"><span class="glyphicon glyphicon-minus"></span>
            </button>
            <button class="btn btn-default" ng-click="mainCtrl.incGridX()"><span class="glyphicon glyphicon-plus"></span>
            </button>
            Y: {{mainCtrl.gridLinesY}}
            <button class="btn btn-default" ng-click="mainCtrl.decGridY()"><span class="glyphicon glyphicon-minus"></span>
            </button>
            <button class="btn btn-default" ng-click="mainCtrl.incGridY()"><span class="glyphicon glyphicon-plus"></span>
            </button>
            
            <button class="btn btn-default" ng-click="mainCtrl.zoomOut()"><span class="glyphicon glyphicon-zoom-out"></span>
            </button>
            <button class="btn btn-default" ng-click="mainCtrl.zoomIn()"><span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <div class="input-group">
                <span class="input-group-addon">Width:</span>
                <input type="number" class="form-control" ng-model="mainCtrl.width" />
                <span class="input-group-addon">Height:</span>
                <input type="number" class="form-control" ng-model="mainCtrl.height" />
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-12">
                <canvas id="mainCanvas" width=600 height=400></canvas>
            </div>
            <div class="hidden-print">
                <button class="btn" onclick="$('#imageFile').click()">Upload Image</button>
                <input style="position:absolute; top:-1000px" type="file" id="imageFile" onchange="angular.element(this).scope().fileNameChanged()" />
                <!--<div class="col-sm-4">
                    <div class="input-group hidden">
                        <span class="input-group-addon">From URL:</span>
                        <input class="form-control" ng-model="mainCtrl.fromUrl" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="mainCtrl.loadFromUrl()">Load</button>
                        </span>
                    </div>
                </div>-->
            </div>
        </div>
</body>

</html>
